#image_preview {
  width: 100%;
  /* これはコンテナの幅に合わせて自動的に調整されます */
  height: auto;
  /* 縦横比を保持するために必要です */
  object-fit: contain;
  /* コンテナに合わせて画像をトリミングしながら調整 */
  max-height: 400px;
  /* 画像の最大高さを制限 */
}
