#image_preview {
  width: 100%;
  /* これはコンテナの幅に合わせて自動的に調整されます */
  height: auto;
  /* 縦横比を保持するために必要です */
  object-fit: contain;
  /* コンテナに合わせて画像をトリミングしながら調整 */
  max-height: 400px;
  /* 画像の最大高さを制限 */
}

.label-with-border {
  border-top: 1px solid #ccc;
  /* 上の枠線 */
  border-bottom: 1px solid #ccc;
  /* 下の枠線 */
  padding: 10px 0;
  /* ラベルのテキストと枠線の間のパディング */
  margin-bottom: 20px;
  /* 次の要素との間隔 */
}
